body{
    background: #333;
    color: #d7e4e5;
    padding: 0px;
    margin: -32px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-image: linear-gradient(#074894, 10%, #421094, #4B0794, #560783, 95%, #940729);
    min-height: 90vh;
    padding: 30px 20px 20px 20px;
    margin: 0px;
}

.main p, li{
    font-size: 18px;
}

header{
    background: rgb(23, 23, 23); /* #333; */
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0px;
    padding: 15px 20px;
}

.footer--main{
    background: linear-gradient(black, #555555);
    text-align: center;
    padding: 10px 0.25em 10px 0.25em;
    margin: 0;
    max-width: 100vw;
}

.footer--main li{    
    list-style: none;
}

.gray-text{
    color: #999;
}

.centered-text{
    text-align: center;
}