header{
    background: rgb(23, 23, 23); /* #333; */
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0px;
    padding: 15px 20px;
}

header a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#logo{
    font-size: 24px;
    display: inline-block;
}

.fa-bars{
    visibility: hidden;
}

#menu{
    margin: 5px auto 5px auto;
    text-align: center;
    display: block;
}

#menu span{
    margin: 0 20px;
}

/* Mobile menu--------------------------------------------------------------------------------------- */

.menu-overlay-list li{
    text-decoration: none;
}

@media screen and (max-width: 1023px) {
    .fa-bars{
        padding-left: 20px;
        padding-top: 10px;
        font-size: 20px;
        display: inline-block;
        visibility: visible;
    }

    #logo{
        text-align: right;
        width: 90%;
    }

    #menu{
        display: none;
    }
}